* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rosybrown;
    height: 100vh;
}

body > * {
    margin-bottom: 20px;
    background: yellowgreen;
}

nav {
    height: calc(10% - 20px);
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

nav > .logo {
    background: orangered;
    width: 15%;
    height: 60%;
}
nav > .routes {
    background: orangered;
    width: 30%;
    height: 60%;
    display: flex;
}

.routes > li {

}

nav > .search {
    background: orangered;
    width: 15%;
    height: 60%;
}

.subnav {
    height: calc(10% - 20px);
}

header {
    height: calc(15% - 20px);
}

.info {
    height: calc(25% - 20px);
}

.img {
    height: calc(40% - 20px);
}